REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_USERNAME=""
REDIS_PASSWORD=""
JIRA_CLIENT_PROTOCOL="https"
JIRA_CLIENT_HOST="[name].atlassian.net"
JIRA_CLIENT_USERNAME="username"
JIRA_CLIENT_TOKEN="jira user token"